.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
  margin: 1rem auto 0.5rem auto;
  background-color: inherit;
  height: 7rem;
  grid-template-rows: 1fr 1fr;
  width: 20rem;
  position: inherit;
  z-index: 2;
}

.inputButton {
  position: relative;
  background-color: #26adf8;
  border-top: none;
  border-left: none;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Courier New", monospace;
  font-size: 1.15rem;
  color: #dc082e;
  cursor: pointer;
}

.buttonClicked {
  border-right: none;
  border-bottom: none;
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.2);
}
