.inputDisplay {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 2.5rem;
    height: 4rem;
    width: 6rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    background: linear-gradient(
      to right,
      var(--number-display-background-color) 0,
      var(--number-display-background-color) 1.5rem,
      var(--border-color) 1.5rem,
      var(--border-color) 1.6rem,
      var(--number-display-background-color) 1.6rem,
      var(--number-display-background-color) 3rem,
      var(--border-color) 3rem,
      var(--border-color) 3.1rem,
      var(--number-display-background-color) 3.1rem,
      var(--number-display-background-color) 4.5rem,
      var(--border-color) 4.5rem,
      var(--border-color) 4.6rem,
      var(--number-display-background-color) 4.6rem,
      var(--number-display-background-color) 6rem
    );
}
 
.currentPokemonIdScreen {
    background: linear-gradient(
      to right,
      var(--number-display-background-color) 0%,
      var(--number-display-background-color) 2rem,
      var(--screen-color) 2rem,
      var(--screen-color) 2.1rem,
      var(--number-display-background-color) 2.1rem,
      var(--number-display-background-color) 4rem,
      var(--screen-color) 4rem,
      var(--screen-color) 4.1rem,
      var(--number-display-background-color) 4.1rem,
      var(--number-display-background-color) 6rem,
      var(--screen-color) 6rem,
      var(--screen-color) 6.1rem,
      var(--number-display-background-color) 6.1rem
    );
    display: flex;
    height: 3.5rem;
    width: 8rem;
    border: 1px solid var(--screen-color);
    position: relative;
    top: 2.5rem;
    left: 5rem;
    border-radius: 0.75rem;
  
    .numberContainer {
      margin: auto;
      color: var(--border-color);
      font-size: 1.5rem;
      font-family: var(--font-pokefont);
      font-weight: 600;
      padding-top: 0.15rem;
      padding-left: 0.25rem;
    }
  }
  
  .currentPokemonIdScreen::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        0deg,
        var(--default-gradient-shadow),
        transparent 0.1rem
      ),
      linear-gradient(90deg, var(--default-gradient-shadow), transparent 0.1rem);
    background-size: 0.25rem 0.25rem;
    border-radius: 0.75rem;
    background-blend-mode: multiply;
  }

.inputDisplay::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        0deg,
        var(--default-gradient-shadow),
        transparent 0.1rem
      ),
      linear-gradient(90deg, var(--default-gradient-shadow), transparent 0.1rem);
    background-size: 0.25rem 0.25rem;
    background-blend-mode: multiply;
}

@keyframes blinkingUnderline {
    0% {
      text-decoration: none;
    }
    50% {
      text-decoration: underline;
    }
    100% {
      text-decoration: none;
    }
}
  
.hasFocus {
    animation: blinkingUnderline 1s infinite;
}