.displayScreen {
  display: flex;
  margin: 7rem auto 0 auto;
  align-items: center;
  height: 12rem;
  width: 20rem;
  background-color: #453132;
  border-radius: 0.5rem;
  position: relative;

  p {
    position: relative;
    display: flex;
    font-family: "Courier New", monospace;
    font-size: 0.85rem;
    text-align: center;
    color: #f9f9f9;
  }
}
