.appHeading {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: var(--base-font-family);
}

.backgroundStyles {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  justify-content: center;
}
