.pokedexContainer {
    display: flex;
    align-items:flex-end;
}

.hinge {
    width: 2rem;
    height: 40rem;
    background: linear-gradient(#dc082e 0, #dc082e 4rem, #000 4rem, #000 4.1rem, #dc082e 4.1rem, #dc082e 36rem, #000 36rem, #000 36.1rem, #dc082e 36.1rem, #dc082e 40rem);
    display: flex;
    position: relative;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: none;
}