.pokedexContainer {
  display: flex;
  align-items: flex-end;
}

.hinge {
  width: 2rem;
  height: 40rem;
  background: linear-gradient(
    var(--background-color-default) 0,
    var(--background-color-default) 4rem,
    var(--border-color) 4rem,
    var(--border-color) 4.1rem,
    var(--background-color-default) 4.1rem,
    var(--background-color-default) 36rem,
    var(--border-color) 36rem,
    var(--border-color) 36.1rem,
    var(--background-color-default) 36.1rem,
    var(--background-color-default) 40rem
  );
  display: flex;
  position: relative;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: none;
}
